@page "/WalletId/currencies"
@inherits WalletCurrenciesPageBase
@using MintingUi.Client.Features.Erc1155.Currencies.Components

<h1>Wallet Currencies</h1>

@*<span>Wallet Id: @WalletId</span>*@
<div class="justify-content-around row">

  @foreach (var Currency in CurrencyState.Currencies)
  {
    <div class="p-2 col">
      <div class="text-center pb-1">
        <a href="@RouteBuilder(Currency.Guid)">
          <img src=@Currency.ImageUrl alt="@Currency.Name Image" width="250">
        </a>
      </div>
      <div class="">
        <b>Currency Id:</b> @Currency.Guid
      <b> Description:</b><p>@Currency.Description</p>
      <b>Dies</b> @Currency.Dies.Count();
      <b>Minted Tokens</b> @Currency.MintedTokenList.Count();
        <a href="@WalletCurrencyDetailsRoute">Dies Page</a>
      </div>
    </div>
  }
</div>