@page "/explorer/transactions"
@page "/explorer/transactions/pending-transactions"
@page "/explorer/transactions/internal-transactions"
@page "/explorer/transactions/token-transfers"
@page "/explorer/transactions/asset-transfers"
@*@page "/explorer/transactions/{TransactionHash}"*@
@using Client.Features.Erc1155.Transactions.Components.TransactionsList
@inherits TransactionsPageBase

<h1>Transactions</h1>

<p>Reference: https://enjinx.io/eth/transactions</p>
<p>Route: @RouteState.Route</p>

<div class="tab-content">
  @*<div class="tab-pane  active" role="tabpanel" aria-labelledby="Transactions tab">
      Todo Add TransactionList
    </div>*@

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link @(ActiveTab=="transactions" ? "active": "")" id="transactions-tab" data-toggle="tab" href="/explorer/transactions" role="tab" aria-controls="home" aria-selected="true">Transactions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link @(ActiveTab=="pending-transactions" ? "active": "")" id="pending-tab" data-toggle="tab" href="/explorer/transactions/pending-transactions" role="tab" aria-controls="profile" aria-selected="false">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link @(ActiveTab=="internal-transactions" ? "active": "")" id="internal-tab" data-toggle="tab" href="/explorer/transactions/internal-transactions" role="tab" aria-controls="messages" aria-selected="false">Internal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link @(ActiveTab=="token-transfers" ? "active": "")" id="token-transfers-tab" data-toggle="tab" href="/explorer/transactions/token-transfers" role="tab" aria-controls="settings" aria-selected="false">Token</a>
    </li>
    <li class="nav-item">
      <a class="nav-link @(ActiveTab=="asset-transfers" ? "active": "")" id="asset-transfers-tab" data-toggle="tab" href="/explorer/transactions/asset-transfers" role="tab" aria-controls="profile" aria-selected="false">Asset</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane @(ActiveTab=="transactions" ? "active": "")" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
      <Herc.Pwa.Client.Features.Erc1155.Transactions.Components.TransactionsList.TransactionList Transactions=@Transactions />
    </div>
    <div class="tab-pane @(ActiveTab=="pending-transactions" ? "active": "")" id="pending" role="tabpanel" aria-labelledby="pending-tab"><Herc.Pwa.Client.Features.Erc1155.Transactions.Components.TransactionsList.PendingTransactionsList Transactions=@Transactions /></div>
    <div class="tab-pane @(ActiveTab=="internal-transactions" ? "active": "")" id="internal" role="tabpanel" aria-labelledby="internal-tab"><Herc.Pwa.Client.Features.Erc1155.Transactions.Components.TransactionsList.InternalTransactionsList Transactions=@Transactions /></div>
    <div class="tab-pane @(ActiveTab=="token-transfers" ? "active": "")" id="token" role="tabpanel" aria-labelledby="token-transfers-tab"><Herc.Pwa.Client.Features.Erc1155.Transactions.Components.TransactionsList.TokenTransferList Transactions=@Transactions /></div>
    <div class="tab-pane @(ActiveTab=="asset-transfers" ? "active": "")" id="asset" role="tabpanel" aria-labelledby="asset-transfers-tab"><Herc.Pwa.Client.Features.Erc1155.Transactions.Components.TransactionsList.AssetTransferList Transactions=@Transactions /></div>
  </div>
</div>

<style>
  table {
    width: 100%;
    padding: .5rem;
  }

  th, td {
    border-bottom: 1px solid #ddd;
    padding-left: 1px;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>